a,
#home-slider .caption h1 span,
#twitter-carousel .item span,
#footer .footer-bottom,
#single-portfolio .close-folio-item:hover,
.single-table.featured .btn.btn-primary,
.contact-info ul li a:hover,
#footer .footer-bottom a  {
  color: #028fcc;
}

.btn.btn-primary:hover,
.btn-submit:hover {
  background-color: #027db3
}

a:hover, a:focus {
	color: #027db3;
}

.main-nav,
.service-icon,
.progress-bar.progress-bar-primary,
.single-table.featured,
.btn.btn-primary,
.twitter-icon .fa-twitter,
.twitter-left-control:hover, .twitter-right-control:hover,
.post-icon,
.entry-header .date:after,
.btn-submit,
#footer,
.left-control:hover,
.right-control:hover,
.folio-overview a:hover {
  background-color:#028fcc;
}

.btn-loadmore:focus {
	color: #fff;
}

.twitter-left-control:hover,
.twitter-right-control:hover,
.btn-loadmore:hover  {
	border: 1px solid #028fcc;
}

.left-control:hover,
.right-control:hover {
	border-color: #028fcc;
}

.btn-start:hover, .btn-start:focus{
	background-color: #CD0000;
	border-color: #CD0000;
	color: #fff;
	outline: none;
}

.twitter-icon .fa-twitter:after {
	border-color: #028fcc transparent transparent;
}