
/*************************
*******Typography******
**************************/

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #666;
    background-color: #fff;
    min-height: 360px;
}

.phone, .brand, .logo
{
    font-size: 29px;
    color: #ffffff;
    margin: 0 auto;
    font-weight: 300;
    line-height: 30px;
}

.orange{
    color: rgb(255, 153, 73);
}

.white-caption{
    position: relative;
    color: white;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 15;
}

.blue{
    color: #028fcc;
}

.blue-background{
    background-color: #028fcc;
    color: white;
}

.offer{
    font-size: 24px;
    margin-top: -15px;
}

.promo{
    margin-bottom: 50px;
}

.recommendation{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}

.logo{
    margin-top: -9px;
}

.phone{
    font-family: 'Orbitron', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
}

h2 {
    font-size: 34px;
    margin-bottom: 20px;
}

h3 {
    font-size: 18px;
}

.parallax {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.parallax,
.parallax h1,
.parallax h2,
.parallax h3,
.parallax h4,
.parallax h5,
.parallax h6 {
    color: #fff;
}

.parallax input[type="text"],
.parallax input[type="text"]:hover,
.parallax input[type="email"],
.parallax input[type="email"]:hover,
.parallax input[type="url"],
.parallax input[type="url"]:hover,
.parallax input[type="password"],
.parallax input[type="password"]:hover,
.parallax textarea,
.parallax textarea:hover {
    font-weight: 300;
    color: #fff;
}

.btn {
    border: 0;
    border-radius: 0;
}

.btn.btn-primary:hover {
    background-color: #017fb5;
}

.navbar-nav li a:hover,
.navbar-nav li a:focus {
    outline:none;
    outline-offset: 0;
    text-decoration:none;
    background: transparent;
}

a {
    text-decoration: none;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

a:focus,
a:hover {
    text-decoration: none;
    outline: none
}

section {
    padding: 25px 0 90px 0;
    /*margin-top: 20px;*/
}

.heading {
    padding-bottom:40px;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    background: #fff;
}

.preloader > i {
    position: absolute;
    font-size: 36px;
    line-height: 36px;
    top: 50%;
    left: 50%;
    height: 36px;
    width: 36px;
    margin-top: -15px;
    margin-left: -15px;
    display: inline-block;
}

/*************************
********Phone**********
**************************/
.callback_hyanter{
    position:fixed;
    width:140px;
    height:140px;
    top:80%;
    margin-top:-70px;
    right:20px;
    opacity:.8;
    -webkit-opacity:.8;
    overflow:hidden;
}
.callback_hyanter img{
    width:100%;
    -transition:.2s;
    -webkit-transition:.2s;
    -moz-transition:.2s;
    -o-transition:.2s;
    cursor:pointer;
}
.rotate_right{
    -transition:.2s;
    -webkit-transition:.2s;
    -moz-transition:.2s;
    -o-transition:.2s;
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);
}
.rotate_left{
    -transition:.2s;
    -webkit-transition:.2s;
    -moz-transition:.2s;
    -o-transition:.2s;
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -webkit-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
    transform: rotate(-35deg);
}

/*************************
********Modal CSS**********
**************************/

body[style="padding-right: 17px;"] .navbar-fixed-top,
body[style="padding-right: 17px;"] .navbar-fixed-bottom {
    padding-right: 17px;
}
body[style="padding-right: 19px;"] .navbar-fixed-top,
body[style="padding-right: 19px;"] .navbar-fixed-bottom {
    padding-right: 19px;
}

/*************************
********Home CSS**********
**************************/

.logo{
    width: 81px;
    height: 49px;
    background-image: url("../images/logo_145x50.png");
}

.logo-label{
    width: 300px;
    height: 53px;
    background-image: url("../images/label-new.png");
    margin-top: -9px;
}

#home-slider {
    overflow: hidden;
    position: relative;
    z-index: 1000;
    margin-top: 60px;
}

.navbar-brand .fa-phone{
    font-size: 26px;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

#home-slider .caption {
    position: absolute;
    top: 35%;
    /*margin-top: 15px;*/
    left: 0;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    z-index: 15;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
}

#home-slider .title {
    background: rgba(4, 4, 4, 0.41);
}

#home-slider .caption span {
    background: rgba(13, 148, 206, 0.59);
    font-weight: 700;
}

#home-slider .main-title {
    font-size: 36px;
    line-height: 41px;
}

#home-slider .caption h1 {
    background: rgba(13, 148, 206, 0.59);
}

#home-slider .caption-button {
    position: absolute;
    bottom: 15%;
    left: 20%;
    right: 20%;
    text-align: center;
    text-transform: uppercase;
    z-index: 15;
    font-size: 18px;
    font-weight: 300;
    color: #fff;

}

#home-slider .caption h1 {
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
}

#home-slider .caption h1 small {
    color: #fff;
}

.btn-start {
    animation-duration:1s; animation-iteration-count: infinite;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding:14px 50px;
    border-radius: 0;
    margin-top: 40px;
    background-color:#F40000;
    border: 1px solid #F40000;
}

.caption .btn-start:hover {
    color: #fff
}

.carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    background-repeat: no-repeat;
    background-size: cover;
    height: 2037px;
}

.carousel-fade .carousel-inner .item:after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*background: rgba(0,0,0,.7);*/
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
}

.left-control, .right-control {
    position: absolute;
    top: 50%;
    height: 51px;
    width: 51px;
    line-height: 48px;
    border-radius: 50%;
    border:1px solid #fff;
    z-index: 20;
    font-size: 24px;
    color: #fff;
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.left-control {
    left: -51px
}

.right-control {
    right: -51px;
}

.left-control:hover,
.right-control:hover {
    color: #fff;
}

#home-slider:hover .left-control {
    left:30px
}

#home-slider:hover .right-control {
    right:30px
}

.navbar-right li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-right li.active a {
    background-color: rgba(0,0,0,.2);
}

.navbar-right li a:hover {
    background-color: rgba(0,0,0,.2);
}

.navbar-right li.price a {
    background-color: #F40000;
}

.navbar-right li.price a:hover {
    background-color: #CD0000;
}

.navbar-brand h1,
.navbar-brand h2{
    /*margin-top: -2px;*/
    /*font-weight: 400;*/
}

.main-nav{
    -webkit-box-shadow: 0 3px 4px 0 rgba(7, 10, 16, 0.38);
    -moz-box-shadow: 0 3px 4px 0 rgba(7, 10, 16, 0.38);
    box-shadow: 0 3px 4px 0 rgba(7, 10, 16, 0.38);
}

/*************************
********Logo CSS*******
**************************/

.brand-logo-10, .brand-logo-5, .brand-logo-8, .brand-logo-2, .brand-logo-1,
.brand-logo-9, .brand-logo-6, .brand-logo-3, .brand-logo-11, .brand-logo-7,
.brand-logo-4
{ display: inline-block; background: url('../images/logo/brand-sprite.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }

.brand-logo-10 { background-position: -20px -0px; width: 193px; height: 29px; }
.brand-logo-5 { background-position: -20px -49px; width: 149px; height: 29px; }
.brand-logo-8 { background-position: -20px -98px; width: 141px; height: 29px; }
.brand-logo-2 { background-position: -20px -147px; width: 127px; height: 29px; }
.brand-logo-1 { background-position: -20px -196px; width: 125px; height: 29px; }
.brand-logo-9 { background-position: -20px -245px; width: 117px; height: 29px; }
.brand-logo-6 { background-position: -20px -294px; width: 114px; height: 29px; }
.brand-logo-3 { background-position: -20px -343px; width: 93px; height: 29px; }
.brand-logo-11 { background-position: -20px -392px; width: 88px; height: 48px; }
.brand-logo-7 { background-position: -133px -343px; width: 57px; height: 35px; }
.brand-logo-4 { background-position: -157px -245px; width: 30px; height: 38px; }



.logos{
    padding-top: 40px;
    background: #fff;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

.logo-item{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 0;
    margin: 0 8px;
    margin-bottom: 15px;
}

.logo-item img{
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}


/*************************
*******SERVICE-PACKAGE******
**************************/

#service-package{
    background: rgba(216,238,252,1);
    background: -moz-linear-gradient(left, rgba(216,238,252,1) 0%, rgba(242,242,242,1) 26%, rgba(242,242,242,1) 74%, rgba(250,244,220,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(216,238,252,1)), color-stop(26%, rgba(242,242,242,1)), color-stop(74%, rgba(242,242,242,1)), color-stop(100%, rgba(250,244,220,1)));
    background: -webkit-linear-gradient(left, rgba(216,238,252,1) 0%, rgba(242,242,242,1) 26%, rgba(242,242,242,1) 74%, rgba(250,244,220,1) 100%);
    background: -o-linear-gradient(left, rgba(216,238,252,1) 0%, rgba(242,242,242,1) 26%, rgba(242,242,242,1) 74%, rgba(250,244,220,1) 100%);
    background: -ms-linear-gradient(left, rgba(216,238,252,1) 0%, rgba(242,242,242,1) 26%, rgba(242,242,242,1) 74%, rgba(250,244,220,1) 100%);
    background: linear-gradient(to right, rgba(216,238,252,1) 0%, rgba(242,242,242,1) 26%, rgba(242,242,242,1) 74%, rgba(250,244,220,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8eefc', endColorstr='#faf4dc', GradientType=1 );
    padding-bottom: 20px;
}

.package{
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    position: relative;
}

.package-logo{
    background:url(../images/packets/logo.png) no-repeat center;;
    height: 120px;
    background-size: contain;
    margin-bottom: 20px;
}

.package-standart{
    background-image: url(../images/packets/packet-standart.png);
}

.package-eco{
    background-image: url(../images/packets/packet-eco.png);
}

.package-premium{
    background-image: url(../images/packets/packet-premium.png);
}

.package-vip{
    background-image: url(../images/packets/packe-vip.png);
}

#service-package h3{
    font-family: 'Oswald', sans-serif;
    color: white;
    font-weight: 300;
    font-size: 24px;
    position: absolute;
    left: 25%;
    top: 57%;
}

/*effect-box*/
.effect-box:after,
.effect-box:before {
    content: '';
    position: absolute;
    left: 8px;
    display: inline-block;
    height: 1.15em;
    width: 88%;
    margin-top: 1px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;

}

.effect-box:before {
    border-left: 1px solid;
    border-right: 1px solid;
    -webkit-transform: scale(1,0);
    transform: scale(1,0);
}

.effect-box:after {
    border-bottom: 1px solid;
    border-top: 1px solid;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
}

.package:hover .effect-box:after,
.package:hover .effect-box:before {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

@media (max-width: 1200px) {
    #service-package h3{
        font-size: 20px;
        left: 24%;
        top: 45%;
    }
}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
    #service-package h3{
        font-size: 20px;
        left: 24%;
        top: 45%;
    }
}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
    #service-package h3{
        font-size: 16px;
        left: 23%;
        top: 31%;
    }
    .effect-box:after,
    .effect-box:before {
        left: 6px;
        display: inline-block;
        height: 1.18em;
        width: 88%;
        margin-top: -1px;
    }
}
/*************************
********B-ONE CSS*******
**************************/

.stripe{
    border-top: 1px solid rgba(13, 148, 206, 0.51);
    margin-top: 20px;
    margin-bottom: 20px;
}

#b-one{
    padding: 20px 0 0 0;
    background-color: #ffffff;
}

#b-one h1{
    /*color: white;*/
    /*font-weight: 300;*/
    /*margin: 11px 0;*/
}
#b-two{
    padding: 30px 0 30px 0;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-image: url(../images/b-two.jpg);
    color: #fff;
}
/*************************
********Service CSS*******
**************************/

#services{
    background: rgba(216,238,252,1);
    background: -moz-linear-gradient(left, rgba(216,238,252,1) 0%, rgba(242,242,242,1) 26%, rgba(242,242,242,1) 74%, rgba(250,244,220,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(216,238,252,1)), color-stop(26%, rgba(242,242,242,1)), color-stop(74%, rgba(242,242,242,1)), color-stop(100%, rgba(250,244,220,1)));
    background: -webkit-linear-gradient(left, rgba(216,238,252,1) 0%, rgba(242,242,242,1) 26%, rgba(242,242,242,1) 74%, rgba(250,244,220,1) 100%);
    background: -o-linear-gradient(left, rgba(216,238,252,1) 0%, rgba(242,242,242,1) 26%, rgba(242,242,242,1) 74%, rgba(250,244,220,1) 100%);
    background: -ms-linear-gradient(left, rgba(216,238,252,1) 0%, rgba(242,242,242,1) 26%, rgba(242,242,242,1) 74%, rgba(250,244,220,1) 100%);
    background: linear-gradient(to right, rgba(216,238,252,1) 0%, rgba(242,242,242,1) 26%, rgba(242,242,242,1) 74%, rgba(250,244,220,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8eefc', endColorstr='#faf4dc', GradientType=1 );
}

.service-contact-form textarea.form-control {
    min-height: 90px;
    resize: none;
}

div.info{
    position: absolute;
    right: 3%;
    bottom: 4%;
}

.service-contact-form .btn-submit {
    margin-top: 10px;
}

.remodal-wide h3{
    margin-top: 5px;
    margin-bottom: 20px;
}

.popover {
    max-width: 480px;
    width: 480px;
}
.popover-title{
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 24px;
}
.popover-content{
    font-family: Roboto, sans-serif;
    font-size: 16px;
    text-align: center;
    line-height: 22px;
}

.service-iconse-9, .service-iconse-3, .service-iconse-8, .service-iconse-1, .service-iconse-10,
.service-iconse-2, .service-iconse-4, .service-iconse-5, .service-iconse-7, .service-iconse-11,
.service-iconse-12, .service-iconse-6
{ display: inline-block; background: url('../images/services/sprite.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }

.service-iconse-9 { background-position: 11px -1160px; width: 68px; height: 46px; }
.service-iconse-3 { background-position: 13px -275px; width: 65px; height: 46px; }
.service-iconse-8 { background-position: 21px -1009px; width: 49px; height: 55px; }
.service-iconse-1 { background-position: 22px 20px; width: 46px; height: 51px; }
.service-iconse-10 { background-position: 22px -1306px; width: 46px; height: 46px; }
.service-iconse-2 { background-position: 22px -129px; width: 46px; height: 46px; }
.service-iconse-4 { background-position: 22px -421px; width: 46px; height: 46px; }
.service-iconse-5 { background-position: 22px -567px; width: 46px; height: 46px; }
.service-iconse-7 { background-position: 22px -859px; width: 46px; height: 46px; }
.service-iconse-11 { background-position: 23px -1452px; width: 43px; height: 46px; }
.service-iconse-12 { background-position: 24px -1598px; width: 42px; height: 46px; }
.service-iconse-6 { background-position: 29px -713px; width: 32px; height: 46px; }

p.description {
    font-size: 24px;
    line-height: 26px;
}

p.description-bold {
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
}

.service-info {
    margin-top: 20px;
}

.service-icon {
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    height: 90px;
    line-height: 90px;
    width: 90px;
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}

.our-services .col-sm-3:hover .service-icon {
    background-color: #333;
}

.our-services .col-sm-3 {
    border-right:1px solid rgba(13, 148, 206, 0.51);
    cursor: pointer;
}
.our-services .col-sm-3:hover .service-icon img {
    /*transform: scale(1.2);*/
    /*transition: transform .3s ease-in-out;*/
}
.our-services .row:nth-child(1),
.our-services .row:nth-child(2) {
    /*border-bottom:1px solid rgba(13, 148, 206, 0.51);*/
    padding-bottom: 10px;
}

.our-services .row:nth-child(2),
.our-services .row:nth-child(3) {
    padding-top: 25px;
}


.our-services .col-sm-3:nth-child(9),
.our-services .col-sm-3:nth-child(10),
.our-services .col-sm-3:nth-child(11),
.our-services .col-sm-3:nth-child(12){
    /*border-bottom:0;*/
}

.our-services .col-sm-3:nth-child(5),
.our-services .col-sm-3:nth-child(6),
.our-services .col-sm-3:nth-child(7),
.our-services .col-sm-3:nth-child(8),
.our-services .col-sm-3:nth-child(9),
.our-services .col-sm-3:nth-child(10),
.our-services .col-sm-3:nth-child(11),
.our-services .col-sm-3:nth-child(12){
    padding-top: 60px;
}

.our-services .col-sm-3:nth-child(4),
.our-services .col-sm-3:nth-child(8),
.our-services .col-sm-3:nth-child(12){
    border-right:0;
}

.service-info h3 {
    margin-top: 35px;
}


/*************************
********Promo CSS*******
**************************/
#promo {
    /*position: relative;*/
    /*background-image: url(../images/Black-wood-photoshop-pattern-for-website-background.jpg);*/
    /*background-repeat:repeat;*/
    /*padding: 30px 0 40px 0;*/
    /*background-attachment: fixed;*/
    /*color: #fff;*/
    background: #f2f2f2;
    margin: 0 auto;
}

/*body{ background: #F6F6F6;}*/


.promo_1, .promo_2, .promo_3, .promo_4, .promo_5, .promo_6{
    display: inline-block; background: url('../images/promo.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left;
    /*border: 1px solid grey;*/
}

.promo_1{  background-position: 13px 0px; width: 130px; height: 100px;}
.promo_2{  background-position: 13px -100px; width: 130px; height: 100px;}
.promo_3{  background-position: 15px -200px; width: 130px; height: 100px;}
.promo_4{  background-position: 13px -300px; width: 130px; height: 100px;}
.promo_5{  background-position: 13px -400px; width: 130px; height: 100px;}
.promo_6{  background-position: 15px -500px; width: 130px; height: 100px;}


.promo-item {
    -webkit-box-shadow: 0px 15px 25px -20px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 15px 25px -20px rgba(0,0,0,0.3);
    box-shadow: 0px 15px 25px -20px rgba(0,0,0,0.3);
    /*box-shadow: 0px 40px 20px -40px rgb(133, 133, 133);*/
    /*-webkit-box-shadow: 0px 40px 20px -40px rgb(133, 133, 133);*/
    /*-moz-box-shadow: 0px 40px 20px -40px rgb(133, 133, 133);*/
    /*-o-box-shadow: 0px 40px 20px -40px rgb(133, 133, 133);*/
    font-weight: 300;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin-top: 25px;
    text-align: center;
    min-height: 230px;
}

.promo-item p{
    text-transform: uppercase;
    line-height: 19px;
    font-size: 13px;
}
.promo-item a{
    font-size: 15px;
}
.promo-item h4 {
    color: #5c5c5c;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.25;
}
.promo-image{
    margin-top: 15px;
}
/*************************
********About CSS*******
**************************/



.sale{
    position: absolute;
    top:0;
    left:50%;
    max-width: 620px;
    height: 360px;
    background-size: cover;
    background-image: url(../images/sale.png);
}

#about-us {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-image: url(../images/11.jpg);
    padding: 30px 0 40px 0;
    color: #fff;
}


#about-us h2 {
    margin-top: 0;
    color: #fff;
}

#about-us h1 {
    color: #fff;
    margin-bottom: 30px;
}

.progress{
    height: 20px;
    background-color: #fff;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    margin-bottom: 25px;
}

.progress-bar{
    box-shadow: none;
    -webkit-box-shadow: none;
    text-align: right;
    padding-right: 12px;
    font-size: 12px;
    font-weight: 600;
}

#about-us .description{
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 200;
}

#about-us strong{
    color: rgb(255, 153, 73);
}

/*************************
********portfolio CSS*****
**************************/

#portfolio .folio-item {
    position: relative;
}

.overlay .folio-info {
    opacity: 0;
    margin-bottom: 75px;
    margin-top: -75px;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.overlay .folio-info h3 {
    margin-top: 0;
    color: #fff;
}

.folio-overview a {
    font-size: 18px;
    color: #333;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    background-color: #fff;
    display: inline-block;
    margin-top: 20px;
    margin-right: 5px;
}

.folio-overview a:hover {
    color: #fff;
}

.folio-image img {
    width: 100%;
}

#portfolio .folio-item:hover .overlay .folio-info {
    opacity: 1;
    margin-bottom:0;
    margin-top:0;
}


#single-portfolio {
    padding: 90px 0;
    background: #f5f5f5;
    position: relative;
}

#single-portfolio img {
    width: 100%;
    margin-bottom: 10px;
}

#single-portfolio .close-folio-item {
    position: absolute;
    top: 30px;
    font-size: 34px;
    width: 34px;
    height: 34px;
    left: 50%;
    color: #999;
    margin-left: -17px;
}

/*************************
*********Team CSS*********
**************************/

.social-icons {
    margin-top:30px;
    text-align: center;
}

.social-icons ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.social-icons ul li {
    float: left;
    margin-right: 8px;
}

.social-icons ul li:last-child {
    margin-right: 0;
}

.social-icons ul li a {
    color:#fff;
    background-color: #d9d9d9;
    height: 36px;
    width: 36px;
    line-height: 36px;
    display: block;
    font-size: 16px;
    opacity: 0.8;
}

.social-icons ul li a:hover {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.team-member:hover .social-icons ul li a.facebook {
    background-color: #3b5999;
}
.team-member:hover .social-icons ul li a.twitter {
    background-color: #2ac6f7;
}

.member-info h3 {
    margin-top: 35px;
}

.member-info h4 {
    font-size: 14px;
    margin-bottom: 15px;
    color: #999;
}


/*************************
*******Features CSS*******
**************************/

#features i {
    font-size: 48px;
}

#features h3 {
    margin-top: 15px;
    font-size: 30px;
    margin-bottom: 7px;
    color: #fff;
}

/*************************
*****Pricing Table CSS****
**************************/

.price-content table{
    width: 100%;
    border-collapse: collapse;
}

.price-content tr{
    background: #028fcc;
    border-bottom: 1px solid #fff;
}

.price-content td{
    color: #fff;
    font-size: 13px ;
    height: 20px;
}

.price-content td:first-child{
    padding-left: 17px;
    border-right: 1px solid white;
}

.price-content td:last-child{
    color: #fff;
    width: 110px;
    text-align: center;
}

.white-tr td{
    background: #fff !important;
    color: black;
}

.white-tr td{
    font-weight: bold;
}

.table-hint{
    padding-left: 17px;
    color: #028fcc;
}

.border-tr{
    border-bottom: 10px solid #fff !important;
}

.price-header-title > span{
    display: none;
}

.price-header-title > span.active{
    display: inline-block;
    vertical-align: top;
}

.single-table {
    padding: 30px 20px 20px;
    border:1px solid #f2f2f2;
}

.single-table h3 {
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.price span {
    font-size: 14px;
    line-height: 14px;
}

.single-table ul {
    list-style: none;
    padding: 0;
    margin: 30px 0;
}

.single-table ul li {
    line-height: 30px;
}

.single-table.featured {
    color: #fff;
}

.single-table.featured h3 {
    color: #fff;
}

.single-table.featured .btn.btn-primary {
    background-color: #fff;
}

/*************************
**********Blog CSS********
**************************/

.post-icon {
    position: absolute;
    top:10px;
    right:10px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius:4px;
    text-align: center;
    color: #fff;
    font-size: 12px;
}

.post-meta span {
    margin-right: 16px;
}

.entry-header h3 a {
    line-height: 30px;
}

.entry-header .date:after {
    content: "";
    position: absolute;
    left: 0;
    bottom:-22px;
    width: 20px;
    height: 3px;
}

.load-more {
    display:block;
    text-align: center;
    margin-bottom: 70px;
}

.btn-loadmore {
    background-color:#F40000;
    border: 1px solid #F40000;
    /*border: 1px solid #028fcc;*/
    color: #fff;
    /*background-color: #028fcc;*/
    font-size: 16px;
    font-weight: 600;
    padding: 15px 100px;
    text-transform: uppercase;
    margin-top: 80px;
}

.btn-modal {
    background-color:#F40000;
    border: 1px solid #F40000;
    /*border: 1px solid #028fcc;*/
    color: #fff;
    /*background-color: #028fcc;*/
    font-size: 16px;
    font-weight: 600;
    padding: 15px 50px;
    text-transform: uppercase;
}

.btn-modal:hover{
    color: #fff;
}

.btn-loadmore:hover {
    color: #fff;
    background-color:#0272A3;
}

/*************************
**********Contact CSS*****
**************************/

#contact {
    position: relative;
    background-image: url(../images/footer_lodyas.png);
    background-repeat: repeat-x, repeat;
    padding-top: 45px;
    padding-bottom: 45px;
    color: #fff;
    margin-top: 0;
}

#contact h2 {
    text-align: left;
    color: #fff;
}

.address li:nth-child(odd){
    margin-bottom: 0;
}

.address li:nth-child(even){
    margin-bottom: 15px;
}

#google-map {
    height: 325px;
    margin-top: 20px;
}

#contact-us .heading {
    padding-top: 65px;
}

.form-control {
    /*background-color: transparent;*/
    /*border-color: rgba(255,255,255,.1);*/
    height: 50px;
    border-radius: 0;
    box-shadow: none;
}

textarea.form-control {
    min-height: 180px;
    resize:none;
}

.form-group {
    /*margin-bottom: 30px;*/
}

.contact-info {
    /*padding-left:0px;*/
    /*font-weight: 300;*/
}

ul.address {
    /*margin-top: 30px;*/
    list-style: none;
    padding: 0;
    margin: 30px 0 0 0 ;
}

.contact-info ul li {
    margin-bottom: 8px;
}

.contact-info ul li a {
    color: #fff;
}

.btn-submit {
    display: block;
    padding: 12px;
    width: 100%;
    color: #fff;
    border:0;
    margin-top: 40px;
}

#footer {
    color:#fff;
}

.footer-top {
    position: relative;
    padding:30px 0
}

#footer .footer-bottom {
    background-color: #fff;
    padding: 20px 0 10px;
}

#footer .footer-bottom a:hover {
    text-decoration: underline;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 5px;
}

#footer .social-icons {
    margin-top: 15px;
}

#footer .social-icons ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .social-icons ul li a {
    background-color: rgba(0,0,0,.2);
    border-radius: 4px;
    line-height: 33px;
}

#footer .social-icons ul li a:hover {
    color: #fff
}

#footer .social-icons ul li a.envelope:hover {
    background-color: #CECB26;
}

#footer .social-icons ul li a.facebook:hover {
    background-color: #3b5999;
}

#footer .social-icons ul li a.vkontakte:hover {
    background-color: #507299;
}

#footer .social-icons ul li a.odnoklassniki:hover {
    background-color: #ee8208;
}

/*Presets*/

a,
#home-slider .caption h1 span,
#twitter-carousel .item span,
#footer .footer-bottom,
#single-portfolio .close-folio-item:hover,
.single-table.featured .btn.btn-primary,
.contact-info ul li a:hover,
#footer .footer-bottom a  {
    color: #028fcc;
}

.btn.btn-primary:hover,
.btn-submit:hover {
    background-color: #027db3
}

a:hover, a:focus {
    color: #027db3;
}

.main-nav,
.service-icon,
.progress-bar.progress-bar-primary,
.single-table.featured,
.btn.btn-primary,
.twitter-icon .fa-twitter,
.twitter-left-control:hover, .twitter-right-control:hover,
.post-icon,
.entry-header .date:after,
.btn-submit,
#footer,
.left-control:hover,
.right-control:hover,
.folio-overview a:hover {
    /*background-color:#028fcc;*/
    background-color: rgba(2,143,204,0.95)
}

.btn-loadmore:focus {
    color: #fff;
}

.twitter-left-control:hover,
.twitter-right-control:hover,
.btn-loadmore:hover  {
    border: 1px solid #028fcc;
}

.left-control:hover,
.right-control:hover {
    border-color: #028fcc;
}

.btn-start:hover, .btn-start:focus, .btn-loadmore:hover, .btn-loadmore:focus{
    background-color: #CD0000;
    border-color: #CD0000;
    color: #fff;
    outline: none;
}

.twitter-icon .fa-twitter:after {
    border-color: #028fcc transparent transparent;
}
#home-slider .item:nth-child(1){
    background-image: url(../images/slider/1-middle-2.jpg)
}

#home-slider .item:nth-child(2){
    background-image: url(../images/slider/2-middle-2.jpg)
}

#home-slider .item:nth-child(3){
    background-image: url(../images/slider/3-middle-2.jpg)
}

#home-slider .item:nth-child(4){
    background-image: url(../images/slider/4-middle-2.jpg)
}

#home-slider .item:nth-child(5){
    background-image: url(../images/slider/5-middle-2.jpg)
}
/*************************
*******Responsive******
**************************/
@media (min-width: 1680px) {
    #home-slider .item:nth-child(1){
        background-image: url(../images/slider/1-big.jpg)
    }

    #home-slider .item:nth-child(2){
        background-image: url(../images/slider/2-big.jpg)
    }

    #home-slider .item:nth-child(3){
        background-image: url(../images/slider/3-big.jpg)
    }

    #home-slider .item:nth-child(4){
        background-image: url(../images/slider/4-big.jpg)
    }

    #home-slider .item:nth-child(5){
        background-image: url(../images/slider/5-big.jpg)
    }
}
/* lg */
@media (min-width: 1200px) {

}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
    .brand-logo-10, .brand-logo-5, .brand-logo-8, .brand-logo-2, .brand-logo-1,
    .brand-logo-9, .brand-logo-6, .brand-logo-3, .brand-logo-11, .brand-logo-7,
    .brand-logo-4
    { display: none; background: none }

    .navbar-right li a {
        font-size: 12px;
        padding-right: 10px;
    }
    .social-icons ul li {
        margin-bottom: 10px;
    }

    .price span {
        font-size: 40px;
        margin-top: 27px;
    }

    h1.white-caption
    {
        font-size: 30px;
    }
}

/* xs */
@media (max-width: 767px) {
    .brand-logo-10, .brand-logo-5, .brand-logo-8, .brand-logo-2, .brand-logo-1,
    .brand-logo-9, .brand-logo-6, .brand-logo-3, .brand-logo-11, .brand-logo-7,
    .brand-logo-4
    { display: none; background: none }

    body {
        font-size: 14px;
    }

    header h1{
        font-size: 24px;
        line-height: 1.7;
    }

    .navbar-brand h1,
    .navbar-brand h2{
        margin-top: 5px;
    }

    .navbar-brand .phone{
        margin-top: 18px;
        font-size: 18px;
    }

    .title{
        position: absolute;
        top:0;
        z-index: 15;
        left: 0;
        right: 0;
    }

    .logo{
        width: 64px;
        height: 39px;
        background-image: url("../images/logo_145x39.png");
    }

    #home-slider {
        margin-top: 50px;
    }
    #home-slider .caption h1 {
        font-size: 30px;
    }
    #home-slider .caption {
        top: 30%;
        font-size: 12px;
        padding: 0 10px;
    }

    #home-slider .item:nth-child(1){
        background-image: url(../images/slider/1-small.jpg)
    }

    #home-slider .item:nth-child(2){
        background-image: url(../images/slider/2-small.jpg)
    }

    #home-slider .item:nth-child(3){
        background-image: url(../images/slider/3-small.jpg)
    }

    #home-slider .item:nth-child(4){
        background-image: url(../images/slider/4-small.jpg)
    }

    #home-slider .item:nth-child(5){
        background-image: url(../images/slider/5-small.jpg)
    }

    .left-control, .right-control {
        font-size: 20px;
        height: 30px;
        line-height: 25px;
        width: 30px;
    }
    #home-slider:hover .right-control {
        right: 15px;
    }
    #home-slider:hover .left-control {
        left: 15px;
    }
    .caption .btn-start {
        font-size: 12px;
        padding: 10px 30px;
    }
    .navbar-brand {
        padding: 0 10px 15px;
    }

    .navbar-toggle {
        border:1px solid #fff;
    }

    .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .navbar-right li a {
        font-size: 13px;
        padding-bottom: 8px;
        padding-top: 10px;
    }

    /*about*/

    .sale {
        background-image: none;
    }

    /*services*/
    section {
        padding: 45px 0;
    }
    .heading {
        font-size: 14px;
        padding-bottom: 45px;
    }
    .heading h2 {
        font-size: 26px;
    }
    .service-info h3 {
        font-size: 20px;
    }

    .service-icon {
        font-size: 30px;
        height: 90px;
        line-height: 85px;
        width: 90px;
    }
    .our-services .row:nth-child(1),
    .our-services .row:nth-child(2) {
        border-bottom:none;
        padding-bottom: 0;
    }
    .our-services .col-sm-3 {
        padding-top: 25px;
        border-bottom: 1px solid #f2f2f2;
    }
    .our-services .col-sm-3:nth-child(1) {
        padding-top: 0;
    }
    .service-info {
        margin-top: 5px;
    }
    .about-info {
        text-align: center;
        margin-bottom: 50px;
    }

    .social-icons ul li a {
        font-size: 14px;
        height: 30px;
        line-height: 30px;
        width: 30px;
    }

    #features i {
        font-size: 35px;
    }
    #features h3 {
        font-size: 25px;
    }
    .price span {
        font-size: 50px;
        margin-top: 25px;
    }

    .single-table ul {
        margin-top: 22px;
    }
    .single-table ul li {
        font-size: 14px;
        margin-top: 15px;
    }

    .single-table{
        margin-bottom: 40px;
        padding: 20px;
    }
    #twitter {
        padding-bottom: 75px;
    }
    .twitter-left-control,
    .twitter-right-control {
        top: inherit;
        bottom: 30px;
        height: 25px;
        width: 25px;
        line-height: 23px;
        font-size: 14px;
    }
    .twitter-left-control {
        left: 40%
    }
    .twitter-right-control {
        right: 40%
    }

    .entry-header h2 {
        line-height: 20px;
    }

    .load-more {
        margin-top: 35px;
    }
    .btn-loadmore {
        font-size: 12px;
        padding: 15px 75px;
    }
    #contact-us .heading {
        padding-top: 35px;
    }
    .contact-info {
        padding-left: 0;
    }
    #footer .footer-bottom {
        text-align: center;
    }
    .footer-bottom p.pull-right {
        float: none !important;
    }
}

/* XS Portrait */
@media (max-width: 479px) {
}
