/* lg */ 
@media (min-width: 1200px) {

}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {

    .navbar-right li a {
		font-size: 12px;
		padding-right: 10px;
	}
	.social-icons ul li {
		margin-bottom: 10px;
	}

    .price span {
		font-size: 40px;
		margin-top: 27px;
	}
}

/* xs */
@media (max-width: 767px) {

    body {
		font-size: 14px;
	}

	header h1{
		font-size: 24px;
		line-height: 1.7;
	}

	.navbar-brand h1,
	.navbar-brand h2{
		margin-top: 5px;
	}

	#home-slider {
		margin-top: 50px;
	}
	#home-slider .caption h1 {
		font-size: 30px;
	}
	#home-slider .caption {
		top: 30%;
		font-size: 12px;
		padding: 0 10px;
	}

	#home-slider .item:nth-child(1){
		background-image: url(../images/slider/1-mob.jpg)
	}

	#home-slider .item:nth-child(2){
		background-image: url(../images/slider/2-mob.jpg)
	}

	#home-slider .item:nth-child(3){
		background-image: url(../images/slider/3-mob.jpg)
	}

	#home-slider .item:nth-child(4){
		background-image: url(../images/slider/4-mob.jpg)
	}

	#home-slider .item:nth-child(5){
		background-image: url(../images/slider/5-mob.jpg)
	}

	.left-control, .right-control {
		font-size: 20px;
		height: 30px;
		line-height: 25px;
		width: 30px;
	}
	#home-slider:hover .right-control {
		right: 15px;
	}
	#home-slider:hover .left-control {
		left: 15px;
	}
	.caption .btn-start {
		font-size: 12px;
		padding: 10px 30px;
	}

    .navbar-toggle .icon-bar {
	  background-color: #fff;
	}
	.navbar-right li a {
		font-size: 13px;
		padding-bottom: 8px;
		padding-top: 10px;
	}


	/*about*/
    /*services*/
	section {
		padding: 45px 0;
	}

    .heading h2 {
		font-size: 26px;
	}
	.service-info h3 {
		font-size: 20px;
	}

    .service-icon {
		font-size: 30px;
		height: 90px;
		line-height: 85px;
		width: 90px;
	}
	.our-services .row:nth-child(1),
	.our-services .row:nth-child(2) {
		border-bottom:none;
		padding-bottom: 0;
	}

    .service-info {
		margin-top: 5px;
	}

    .social-icons ul li a {
		font-size: 14px;
		height: 30px;
		line-height: 30px;
		width: 30px;
	}

    #features i {
		font-size: 35px;
	}
	#features h3 {
		font-size: 25px;
	}
	.price span {
		font-size: 50px;
		margin-top: 25px;
	}

    .single-table ul {
		margin-top: 22px;
	}
	.single-table ul li {
		font-size: 14px;
		margin-top: 15px;
	}

    .single-table{
		margin-bottom: 40px;
		padding: 20px;
	}
	#twitter {
		padding-bottom: 75px;
	}
	.twitter-left-control, 
	.twitter-right-control {
		top: inherit;
		bottom: 30px;
		height: 25px;
		width: 25px;
		line-height: 23px;
		font-size: 14px;
	}
	.twitter-left-control {
		left: 40%
	} 
	.twitter-right-control {
		right: 40%
	}

    .entry-header h2 {
		line-height: 20px;
	}

    .btn-loadmore {
		font-size: 12px;
		padding: 15px 75px;
	}

    .contact-info {
		padding-left: 0;
	}
	#footer .footer-bottom {
		text-align: center;
	}
}

/* XS Portrait */
@media (max-width: 479px) {
}

